In [1]:
import numpy as np
import pandas as pd

In [2]:
name1 = np.loadtxt('/Users/apple/Desktop/analysis-master/Pandas_Introduction/score/Data/name.txt',\
                   delimiter='\n',dtype='str')
score1 = np.loadtxt('/Users/apple/Desktop/analysis-master/Pandas_Introduction/score/Data/score1.txt',\
                    delimiter='\n',dtype='int')
score2 = np.loadtxt('/Users/apple/Desktop/analysis-master/Pandas_Introduction/score/Data/score2.txt',\
                    delimiter='\n',dtype='int')
score3 = np.loadtxt('/Users/apple/Desktop/analysis-master/Pandas_Introduction/score/Data/score3.txt',\
                    delimiter='\n',dtype='int')

In [3]:
print(name1)
print(score1)
print(score2)
print(score3)

['Allen' 'Ben' 'Bob' 'Chris' 'Charles' 'David' 'Dennis' 'Edward' 'Eric'
 'George' 'Hellen' 'Henry' 'Jack' 'Jerry' 'Joe' 'Johnson' 'Kevin'
 'Leonard' 'Mike' 'Paul' 'Roy' 'Sam' 'Tom' 'Tyler' 'William']
[57 69 81 64 58 90 65 81 77 92 98 74 73 64 85 87 61 51 91 95 60 98 81 80
 82]
[63 74 88 89 64 91 78 79 99 61 62 91 89 77 83 55 73 68 67 67 70 89 55 79
 93]
[87 88 77 91 75 84 53 55 62 55 91 94 79 62 74 78 85 91 53 65 93 84 77 54
 50]

In [4]:
score1 = pd.Series(score1,index=name1)
score2 = pd.Series(score2,index=name1)
score3 = pd.Series(score3,index=name1)

In [5]:
print(score1)
print(score2)
print(score3)

Allen      57
Ben        69
Bob        81
Chris      64
Charles    58
David      90
Dennis     65
Edward     81
Eric       77
George     92
Hellen     98
Henry      74
Jack       73
Jerry      64
Joe        85
Johnson    87
Kevin      61
Leonard    51
Mike       91
Paul       95
Roy        60
Sam        98
Tom        81
Tyler      80
William    82
dtype: int64
Allen      63
Ben        74
Bob        88
Chris      89
Charles    64
David      91
Dennis     78
Edward     79
Eric       99
George     61
Hellen     62
Henry      91
Jack       89
Jerry      77
Joe        83
Johnson    55
Kevin      73
Leonard    68
Mike       67
Paul       67
Roy        70
Sam        89
Tom        55
Tyler      79
William    93
dtype: int64
Allen      87
Ben        88
Bob        77
Chris      91
Charles    75
David      84
Dennis     53
Edward     55
Eric       62
George     55
Hellen     91
Henry      94
Jack       79
Jerry      62
Joe        74
Johnson    78
Kevin      85
Leonard    91
Mike       53
Paul       65
Roy        93
Sam        84
Tom        77
Tyler      54
William    50
dtype: int64

In [6]:
bins = [0] + list(range(60,101,10))
print(bins)

[0, 60, 70, 80, 90, 100]

In [7]:
cuts1 = pd.cut(score1,bins,right=False)
print(pd.value_counts(cuts1))

[80, 90)     7
[90, 100)    6
[60, 70)     6
[70, 80)     3
[0, 60)      3
dtype: int64

In [8]:
cuts2 = pd.cut(score2,bins,right=False)
print(pd.value_counts(cuts2))

[70, 80)     7
[60, 70)     7
[80, 90)     5
[90, 100)    4
[0, 60)      2
dtype: int64

In [9]:
cuts3 = pd.cut(score3,bins,right=False)
print(pd.value_counts(cuts3))

[70, 80)     6
[0, 60)      6
[90, 100)    5
[80, 90)     5
[60, 70)     3
dtype: int64

In [10]:
print(score1.max())

98

In [11]:
print(score1.describe())

count    25.000000
mean     76.560000
std      13.829558
min      51.000000
25%      64.000000
50%      80.000000
75%      87.000000
max      98.000000
dtype: float64

In [12]:
total_score = pd.concat([score1,score2,score3],axis=1)
total_score.rename(columns={0:'literature',1:'mathematics',2:'english'},inplace=True)
print(total_score)

         literature  mathematics  english
Allen            57           63       87
Ben              69           74       88
Bob              81           88       77
Chris            64           89       91
Charles          58           64       75
David            90           91       84
Dennis           65           78       53
Edward           81           79       55
Eric             77           99       62
George           92           61       55
Hellen           98           62       91
Henry            74           91       94
Jack             73           89       79
Jerry            64           77       62
Joe              85           83       74
Johnson          87           55       78
Kevin            61           73       85
Leonard          51           68       91
Mike             91           67       53
Paul             95           67       65
Roy              60           70       93
Sam              98           89       84
Tom              81           55       77
Tyler            80           79       54
William          82           93       50

In [13]:
def score_to_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

In [14]:
total_score['literature_grade'] = total_score['literature'].map(score_to_grade)
total_score['mathematics_grade'] = total_score['mathematics'].map(score_to_grade)
total_score['english_grade'] = total_score['english'].map(score_to_grade)
print(total_score)

         literature  mathematics  english literature_grade mathematics_grade  \
Allen            57           63       87                F                 D
Ben              69           74       88                D                 C
Bob              81           88       77                B                 B
Chris            64           89       91                D                 B
Charles          58           64       75                F                 D
David            90           91       84                A                 A
Dennis           65           78       53                D                 C
Edward           81           79       55                B                 C
Eric             77           99       62                C                 A
George           92           61       55                A                 D
Hellen           98           62       91                A                 D
Henry            74           91       94                C                 A
Jack             73           89       79                C                 B
Jerry            64           77       62                D                 C
Joe              85           83       74                B                 B
Johnson          87           55       78                B                 F
Kevin            61           73       85                D                 C
Leonard          51           68       91                F                 D
Mike             91           67       53                A                 D
Paul             95           67       65                A                 D
Roy              60           70       93                D                 C
Sam              98           89       84                A                 B
Tom              81           55       77                B                 F
Tyler            80           79       54                B                 C
William          82           93       50                B                 A

        english_grade
Allen               B
Ben                 B
Bob                 C
Chris               A
Charles             C
David               B
Dennis              F
Edward              F
Eric                D
George              F
Hellen              A
Henry               A
Jack                C
Jerry               D
Joe                 C
Johnson             C
Kevin               B
Leonard             A
Mike                F
Paul                D
Roy                 A
Sam                 B
Tom                 C
Tyler               F
William             F

In [15]:
total_score['personal_total'] = total_score.sum(axis=1)
total_score['personal_average'] = total_score.iloc[:,:-1].mean(axis=1)
print(total_score)

         literature  mathematics  english literature_grade mathematics_grade  \
Allen            57           63       87                F                 D
Ben              69           74       88                D                 C
Bob              81           88       77                B                 B
Chris            64           89       91                D                 B
Charles          58           64       75                F                 D
David            90           91       84                A                 A
Dennis           65           78       53                D                 C
Edward           81           79       55                B                 C
Eric             77           99       62                C                 A
George           92           61       55                A                 D
Hellen           98           62       91                A                 D
Henry            74           91       94                C                 A
Jack             73           89       79                C                 B
Jerry            64           77       62                D                 C
Joe              85           83       74                B                 B
Johnson          87           55       78                B                 F
Kevin            61           73       85                D                 C
Leonard          51           68       91                F                 D
Mike             91           67       53                A                 D
Paul             95           67       65                A                 D
Roy              60           70       93                D                 C
Sam              98           89       84                A                 B
Tom              81           55       77                B                 F
Tyler            80           79       54                B                 C
William          82           93       50                B                 A

        english_grade  personal_total  personal_average
Allen               B             207         69.000000
Ben                 B             231         77.000000
Bob                 C             246         82.000000
Chris               A             244         81.333333
Charles             C             197         65.666667
David               B             265         88.333333
Dennis              F             196         65.333333
Edward              F             215         71.666667
Eric                D             238         79.333333
George              F             208         69.333333
Hellen              A             251         83.666667
Henry               A             259         86.333333
Jack                C             241         80.333333
Jerry               D             203         67.666667
Joe                 C             242         80.666667
Johnson             C             220         73.333333
Kevin               B             219         73.000000
Leonard             A             210         70.000000
Mike                F             211         70.333333
Paul                D             227         75.666667
Roy                 A             223         74.333333
Sam                 B             271         90.333333
Tom                 C             213         71.000000
Tyler               F             213         71.000000
William             F             225         75.000000

In [16]:
total_score = total_score.reindex(columns = ['literature','literature_grade','mathematics',\
                                             'mathematics_grade','english','english_grade',\
                                             'personal_total','personal_average'])
print(total_score)

         literature literature_grade  mathematics mathematics_grade  english  \
Allen            57                F           63                 D       87
Ben              69                D           74                 C       88
Bob              81                B           88                 B       77
Chris            64                D           89                 B       91
Charles          58                F           64                 D       75
David            90                A           91                 A       84
Dennis           65                D           78                 C       53
Edward           81                B           79                 C       55
Eric             77                C           99                 A       62
George           92                A           61                 D       55
Hellen           98                A           62                 D       91
Henry            74                C           91                 A       94
Jack             73                C           89                 B       79
Jerry            64                D           77                 C       62
Joe              85                B           83                 B       74
Johnson          87                B           55                 F       78
Kevin            61                D           73                 C       85
Leonard          51                F           68                 D       91
Mike             91                A           67                 D       53
Paul             95                A           67                 D       65
Roy              60                D           70                 C       93
Sam              98                A           89                 B       84
Tom              81                B           55                 F       77
Tyler            80                B           79                 C       54
William          82                B           93                 A       50

        english_grade  personal_total  personal_average
Allen               B             207         69.000000
Ben                 B             231         77.000000
Bob                 C             246         82.000000
Chris               A             244         81.333333
Charles             C             197         65.666667
David               B             265         88.333333
Dennis              F             196         65.333333
Edward              F             215         71.666667
Eric                D             238         79.333333
George              F             208         69.333333
Hellen              A             251         83.666667
Henry               A             259         86.333333
Jack                C             241         80.333333
Jerry               D             203         67.666667
Joe                 C             242         80.666667
Johnson             C             220         73.333333
Kevin               B             219         73.000000
Leonard             A             210         70.000000
Mike                F             211         70.333333
Paul                D             227         75.666667
Roy                 A             223         74.333333
Sam                 B             271         90.333333
Tom                 C             213         71.000000
Tyler               F             213         71.000000
William             F             225         75.000000

In [17]:
print(total_score.describe())

       literature  mathematics    english  personal_total  personal_average
count   25.000000    25.000000  25.000000       25.000000         25.000000
mean    76.560000    76.160000  74.280000      227.000000         75.666667
std     13.829558    12.717049  14.889929       21.015867          7.005289
min     51.000000    55.000000  50.000000      196.000000         65.333333
25%     64.000000    67.000000  62.000000      211.000000         70.333333
50%     80.000000    77.000000  77.000000      223.000000         74.333333
75%     87.000000    89.000000  87.000000      242.000000         80.666667
max     98.000000    99.000000  94.000000      271.000000         90.333333

In [18]:
score_level_data = total_score.loc[:,'literature':'english_grade']
score_level_data.columns = [['literature','literature','mathematics','mathematics',\
                             'english','english'],['score','grade','score','grade','score','grade']]
print(score_level_data)

        literature       mathematics       english
             score grade       score grade   score grade
Allen           57     F          63     D      87     B
Ben             69     D          74     C      88     B
Bob             81     B          88     B      77     C
Chris           64     D          89     B      91     A
Charles         58     F          64     D      75     C
David           90     A          91     A      84     B
Dennis          65     D          78     C      53     F
Edward          81     B          79     C      55     F
Eric            77     C          99     A      62     D
George          92     A          61     D      55     F
Hellen          98     A          62     D      91     A
Henry           74     C          91     A      94     A
Jack            73     C          89     B      79     C
Jerry           64     D          77     C      62     D
Joe             85     B          83     B      74     C
Johnson         87     B          55     F      78     C
Kevin           61     D          73     C      85     B
Leonard         51     F          68     D      91     A
Mike            91     A          67     D      53     F
Paul            95     A          67     D      65     D
Roy             60     D          70     C      93     A
Sam             98     A          89     B      84     B
Tom             81     B          55     F      77     C
Tyler           80     B          79     C      54     F
William         82     B          93     A      50     F

In [19]:
score_level_data['personal_total'] = score_level_data.sum(axis = 1)
score_level_data['personal_average'] = score_level_data.iloc[:,:-1].mean(axis = 1)
print(score_level_data)

        literature       mathematics       english       personal_total  \
             score grade       score grade   score grade
Allen           57     F          63     D      87     B            207
Ben             69     D          74     C      88     B            231
Bob             81     B          88     B      77     C            246
Chris           64     D          89     B      91     A            244
Charles         58     F          64     D      75     C            197
David           90     A          91     A      84     B            265
Dennis          65     D          78     C      53     F            196
Edward          81     B          79     C      55     F            215
Eric            77     C          99     A      62     D            238
George          92     A          61     D      55     F            208
Hellen          98     A          62     D      91     A            251
Henry           74     C          91     A      94     A            259
Jack            73     C          89     B      79     C            241
Jerry           64     D          77     C      62     D            203
Joe             85     B          83     B      74     C            242
Johnson         87     B          55     F      78     C            220
Kevin           61     D          73     C      85     B            219
Leonard         51     F          68     D      91     A            210
Mike            91     A          67     D      53     F            211
Paul            95     A          67     D      65     D            227
Roy             60     D          70     C      93     A            223
Sam             98     A          89     B      84     B            271
Tom             81     B          55     F      77     C            213
Tyler           80     B          79     C      54     F            213
William         82     B          93     A      50     F            225

        personal_average

Allen          69.000000
Ben            77.000000
Bob            82.000000
Chris          81.333333
Charles        65.666667
David          88.333333
Dennis         65.333333
Edward         71.666667
Eric           79.333333
George         69.333333
Hellen         83.666667
Henry          86.333333
Jack           80.333333
Jerry          67.666667
Joe            80.666667
Johnson        73.333333
Kevin          73.000000
Leonard        70.000000
Mike           70.333333
Paul           75.666667
Roy            74.333333
Sam            90.333333
Tom            71.000000
Tyler          71.000000
William        75.000000

In [20]:
score_level_data = score_level_data.sort_values(by = 'personal_total',ascending=False)
print(score_level_data)

        literature       mathematics       english       personal_total  \
             score grade       score grade   score grade
Sam             98     A          89     B      84     B            271
David           90     A          91     A      84     B            265
Henry           74     C          91     A      94     A            259
Hellen          98     A          62     D      91     A            251
Bob             81     B          88     B      77     C            246
Chris           64     D          89     B      91     A            244
Joe             85     B          83     B      74     C            242
Jack            73     C          89     B      79     C            241
Eric            77     C          99     A      62     D            238
Ben             69     D          74     C      88     B            231
Paul            95     A          67     D      65     D            227
William         82     B          93     A      50     F            225
Roy             60     D          70     C      93     A            223
Johnson         87     B          55     F      78     C            220
Kevin           61     D          73     C      85     B            219
Edward          81     B          79     C      55     F            215
Tom             81     B          55     F      77     C            213
Tyler           80     B          79     C      54     F            213
Mike            91     A          67     D      53     F            211
Leonard         51     F          68     D      91     A            210
George          92     A          61     D      55     F            208
Allen           57     F          63     D      87     B            207
Jerry           64     D          77     C      62     D            203
Charles         58     F          64     D      75     C            197
Dennis          65     D          78     C      53     F            196

        personal_average

Sam            90.333333
David          88.333333
Henry          86.333333
Hellen         83.666667
Bob            82.000000
Chris          81.333333
Joe            80.666667
Jack           80.333333
Eric           79.333333
Ben            77.000000
Paul           75.666667
William        75.000000
Roy            74.333333
Johnson        73.333333
Kevin          73.000000
Edward         71.666667
Tom            71.000000
Tyler          71.000000
Mike           70.333333
Leonard        70.000000
George         69.333333
Allen          69.000000
Jerry          67.666667
Charles        65.666667
Dennis         65.333333

In [21]:
print(score_level_data.describe())

      literature mathematics    english personal_total personal_average
           score       score      score
count  25.000000   25.000000  25.000000      25.000000        25.000000
mean   76.560000   76.160000  74.280000     227.000000        75.666667
std    13.829558   12.717049  14.889929      21.015867         7.005289
min    51.000000   55.000000  50.000000     196.000000        65.333333
25%    64.000000   67.000000  62.000000     211.000000        70.333333
50%    80.000000   77.000000  77.000000     223.000000        74.333333
75%    87.000000   89.000000  87.000000     242.000000        80.666667
max    98.000000   99.000000  94.000000     271.000000        90.333333

In [22]:
score_level_data.to_csv('/Users/apple/Desktop/score_level_data.csv')